*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: Georgia, "Time New Roman", serif;
  color: #111111:;
  background-color: #FFFFF8;
  font-size: 1.3rem;
}

header h1 {
  margin-top: 0;
}

body {
  line-height: 1.6;
}

hr {
  margin: 1rem 0;
  height: 0;
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px dashed #696969;
}

img {
  max-width: 100%;
  border: 1px dashed #696969;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0 1rem 0 1rem;
  color: #696969;
  border: 1px dashed #696969;
}

blockquote cite {
  display: block;
  margin-top: .5rem;
  font-style: italic;
  font-size: .875rem;
}

blockquote cite:before {
  content: "— "
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 2px solid #4078c0;
}

a:hover {
  text-decoration: none;
  border-bottom: 0;
}

ol, ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}

ol ol, ul ul, ul ol, ol ul {
  margin-bottom: 0;
}

li {
  margin: .3rem 0 0 0;
}

li .li-date {
  font-style: italic;
  float: left;
  width: 6rem;
}

li .li-event {
  font-style: italic;
  color: #696969;
  margin-left: .7rem;
}

abbr {
  border-bottom: 1px dashed currentColor;
  cursor: help;
}

kbd, code, pre {
  font-family: "Source Code Pro", monospace;
  font-size: .7rem;
  padding: .3rem 0 0 .3rem;
}

pre {
  overflow: auto;
  max-width: 100%;
  margin: 0;
  background-color: #e5e5e5;
}

kbd, code {
  padding: .125rem .25rem 0;
  background-color: #e5e5e5;
}

article, section {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0 .5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .8em;
}

p {
  margin: 1rem 0 1rem 0;
}

time {
  margin: 0 0 1rem;
  color: #696969;
}

footer, .site-nav {
  margin: 0 0 .5rem;
  font-size: .7rem;
  color: #696969;
}

footer a, .site-nav a {
  color: currentColor;
}

footer > *+*, .site-nav > *+* {
  margin-left: .5rem;
}

.container {
  max-width: 38rem;
  width: 100%;
  margin: 0 auto;
}

.site-nav {
  margin-top: 2rem;
  text-align: right;
}

.site-footer {
  margin-bottom: 1rem;
}

.site-list {
  margin: 0;
  list-style-type: none;
}

.site-list li {
  word-wrap: break-word;
}

.toc {
  display: inline-block;
  border: dashed 1px #696969;
  padding: .5rem 1rem 0 .5rem;
  margin-bottom: .5rem;
  font-family: "Source Code Pro", monospace;
  color: #696969;
}

#TableOfContents ul {
  font-size: 0.7rem;
  margin-left: 1rem;
  list-style-type: none;
}

.highlighttable {
  display: block;
  max-width: 100%;
  overflow: auto;
  border: 1px dashed #696969;
}

.linenodiv, .code, .highlight {
  width: 100%;
  height: auto;
  overflow: auto;
}

.highlight pre {
  background-color: transparent;
}

.slide {
  text-align: center;
  font-size: .875rem;
  color: #696969;
}

.bibliography, .footnotes {
  display: block;
  max-width: 100%;
  border: 1px dashed #696969;
  padding: 1rem 1rem 0 1rem;
  color: #696969;
  font-size: .875rem;
}

.bibliography ul {
  display: block;
  margin-left: 0;
  list-style-type: none;
}

.bibliography .tag {
  float: left;
  margin-right: 1rem;
}

.bibliography .citation {
  margin-left: 1rem;
}

.bibliography sup a {
  margin: 0 .1rem 0 .1rem;
}

.readmore {
  margin: .5rem 0 1rem 0;
  color: #696969;
  font-size: .875rem;
  text-align: right;
  float: right;
}

.readmore a:after {
  content: " →";
}
