{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
<title>About</title>
<h3>About</h3>
<p>My name is <strong>David Kua</strong>, I'm 20, I live in a city called Toronto and am pretty much enjoying my life.</p>

<p>I'm mostly a Web developer, but as you may suppose, I'm not a Web designer. I speak at conferences, sometimes.</p>

<p>I also practice photography, and probably rant (in French) a bit too much.</p>

<p>Oh, and one more thing: this blog is entirely open source.</p>
{% endblock content %}
