{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
<h3>Notes</h3>
{% if articles %}
  <table class="table table-condensed table-hover">
  {% for article in articles %}
    <article>
      <tbody>
        <tr>
          <td>
          <a href="{{ SITEURL }}/{{ article.url }}" 
             rel="bookmark" 
             title="Permalink to {{ article.title|striptags }}">
             {{ article.title }}
          </a>
          </td>
          <td class="rightCell">{{ article.locale_date }}</td>
        </tr>
      </tbody>
    </article>
  {% endfor %}
  </table>
{% endif %}
{% endblock content %}
