{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
<h3>Projects</h3>
<table class="table table-condensed table-hover">
  <tbody>

    <tr><td>
      <a href="{{GITHUBURL}}/davidkua.com"><strong>davidkua.com</strong></a>
      <p>
        The source code for this website. Built using Pelican, Bootstrap,
        and the IPython Notebook.
      </p>
    </td></tr>

    <tr><td>
      <a href="{{GITHUBURL}}/Archive"><strong>Archive</strong></a>
      <p>
        Two of my projects from first year, kept as a reminder of how bad my
        code once was. Warning: Contains the code of someone just starting to
        learn programming.
      </p>
    </td></tr>

  </tbody>
</table>    
{% endblock content %}
