body {
  padding-top: 1em;
  padding-bottom: 2em;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}

.container-narrow .content{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Custom Table Positioning */
.table th.rightCell,
.table td.rightCell {
  text-align: right;
}