<hr>
<footer class="site-footer">
  <span class="owner">&copy; {{ now.Format "2006" }} – {{ .Site.Params.author }} — {{ .Site.Params.email }}</span>
  {{ if eq .Site.Params.socialLinks true -}}
    {{ if isset .Site.Params "twitter" -}}
    <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">@{{ .Site.Params.twitter }}</a>
    {{- end }}
    {{ if isset .Site.Params "github" -}}
    <a href="http://github.com/{{ .Site.Params.github }}" target="_blank">github.com/{{ .Site.Params.github }}</a>
    {{- end }}
  {{- end }}
</footer>
<!-- (Un)comment to add anchors to citations -->
<script>anchorCitations()</script>

<!-- (Un)comment to add anchors to headers
  <script>anchorHeaders()</script>
  -->
