<hr>
<footer class="site-footer">
  <span class="owner">&copy; {{ .Now.Format "2006" }} – {{ .Site.Params.AuthorName }} — {{ .Site.Params.Email }}</span>
  {{ if eq .Site.Params.SocialLinks true -}}
    {{ if isset .Site.Params "TwitterUsername" -}}
    <a href="https://twitter.com/{{ .Site.Params.TwitterUsername }}" target="_blank">@{{ .Site.Params.TwitterUsername }}</a>
    {{- end }}
    {{ if isset .Site.Params "GithubUsername" -}}
    <a href="http://github.com/{{ .Site.Params.GithubUsername }}" target="_blank">github.com/{{ .Site.Params.GithubUsername }}</a>
    {{- end }}
  {{- end }}
</footer>
<!-- (Un)comment to add anchors to citations -->
<script>anchorCitations()</script>

<!-- (Un)comment to add anchors to headers
  <script>anchorHeaders()</script>
  -->
